<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee House</title>
    <link rel="icon" type="image/x-icon" href="~/images_icon/logo/logo1.png">

    <link rel="icon" type="image/x-icon" href="~/images_icon/logo/logo.png">
    <link rel="stylesheet" href="~/fonts/icofont/icofont.css ">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/flexslider.css" />
</head>

<body>
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div class="header">
        <partial name="Header" />
    </div>

    <div class="main">
        @RenderBody()
    </div>
    
    <div class="footer">
        <partial name="Footer" />
    </div>

    <a href="#" id="scroll-top"><i class="fa-sharp fa-solid fa-angles-up"></i></a>

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/main.js"></script>


</body>

</html>
