
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="footer-widget">
    <div class="container">
        <div class="row footer-wrapper pt-100 pb-70">
            <div class="col-md-6 col-lg-4">
                <div class="footer-box about">
                    <a href="#" class="footer-logo">
                        <img src="~/images_icon/logo/brand.png" alt="">
                    </a>
                    <p class="mb-20">
                        We are many variations of passages available but the majority have suffered
                        alteration
                        in some form by injected humour words which don't look even slightly believable.
                    </p>

                    <ul class="footer-contact">
                        <li>
                            <a href="tel: +21236547898">
                                <i class="fa-solid fa-phone-flip"></i>024 3205
                                1777
                            </a>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot"></i>1st Floor Keangnam - Nam Tu
                            Liem - Ha Noi
                        </li>
                        <li>
                            <a href="/cdn-cgi/l/email-protection#234a4d454c63465b424e534f460d404c4e">
                                <i class="far fa-envelope"></i><span class="__cf_email__"
                                                                     data-cfemail="70191e161f301508111d001c155e131f1d">info@example.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="footer-box list">
                    <h4 class="footer-title">Quick Links</h4>
                    <ul class="footer-list">
                        <li><a href="#"><i class="fas fa-caret-right"></i> About Us</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> FAQ's</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Terms Of Service</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Our Services</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Latest Blog</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Our Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-box list">
                    <h4 class="footer-title">Opening Hours</h4>
                    <div class="footer-opening-hour">
                        <div class="opening-shape-1"></div>
                        <div class="opening-shape-2"></div>
                        <div class="opening-shape-3"></div>
                        <ul>
                            <li><span class="day">Saterday:</span><span class="time">09AM - 06PM</span></li>
                            <li><span class="day">Monday:</span><span class="time">09AM - 06PM</span></li>
                            <li><span class="day">Tuesday:</span><span class="time">09AM - 06PM</span></li>
                            <li>
                                <span class="day">Wednesday:</span><span class="time">09AM - 06PM</span>
                            </li>
                            <li><span class="day">Thursday:</span><span class="time">09AM - 06PM</span></li>
                            <li><span class="day">Friday:</span><span class="time">09AM - 06PM</span></li>
                            <li><span class="day">Sunday:</span><span class="closed">Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-box list">
                    <h4 class="footer-title">Newsletter</h4>
                    <div class="footer-newsletter">
                        <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" class="form-control" placeholder="Your Email">
                                <button class="theme-btn" type="submit">
                                    <span class="far fa-envelope"></span> Subscribe Now
                                </button>
                            </form>
                        </div>
                        <div class="mt-4">
                            <h6 class="text-white mb-3">Follow Us:</h6>
                            <ul class="footer-social mt-1">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <p class="copyright-text">
                    &copy; Copyright<span id="date"></span><a href="#"> Coffee House </a> All Rights Reserved.
                </p>
            </div>
            <div class="col-lg-6 align-self-center">
                <ul class="footer-menu">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms Of Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>