
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="header-top">
    <div class="container">
        <div class="header-top-wrapper">
            <div class="header-top-left">
                <ul>
                    <li>
                        <a href="#">
                            <i class="icofont-google-map"></i>1st Floor Keangnam - Nam Tu Liem - Ha Noi
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-email"></i>info@example.com
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-phone"></i>024 3205 1777
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-top-right">
                <div class="header-top-lang">
                    <div class="dropdown">
                        <button type="button" id="lang" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-earth-americas"></i>EN <i class="icofont-simple-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="lang">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/images_icon/language/english.png" alt=""> English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/images_icon/language/vietnam.png" alt=""> VietNam
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-top-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="icofont-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-navigation">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <img src="~/images_icon/logo/brand.png" alt="logo">
            </a>
            <div class="mobile-menu-right">
                <div class="mobile-menu-list">
                    <a href="#" class="mobile-menu-link search-box-outer"><i class="icofont-search"></i></a>
                    <a href="#" class="mobile-menu-link"><i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars-staggered"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/CoffeeHouse/About">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/CoffeeHouse/Menu">Menu</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                            Shop <i class="icofont-simple-down"></i>
                        </a>
                        <ul class="dropdown-menu fade-up">
                            <li><a class="dropdown-item" href="/CoffeeHouse/Shop">Shop</a></li>
                            <li><a class="dropdown-item" href="/CoffeeHouse/Shop_Cart">Shop Cart</a></li>
                            <li><a class="dropdown-item" href="/CoffeeHouse/Shop_Checkout">Shop Checkout</a></li>
                            <li><a class="dropdown-item" href="/CoffeeHouse/Shop_Single">Shop Single</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                            Blog<i class="icofont-simple-down"></i>
                        </a>
                        <ul class="dropdown-menu fade-up">
                            <li><a class="dropdown-item" href="/CoffeeHouse/Blog">Blog</a></li>
                            <li><a class="dropdown-item" href="/CoffeeHouse/Blog_Single">Blog Single</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/CoffeeHouse/Contact">Contact</a></li>
                </ul>
                <div class="header-nav-right">
                    <div class="header-nav-search">
                    </div>
                    <div class="header-nav-cart">
                        <a href="/CoffeeHouse/Shop_Cart" class="header-nav-link">
                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                    <div class="header-btn">
                        <a href="/CoffeeHouse/Login" class="theme-btn">Sign in</a>
                        <a href="/CoffeeHouse/Join" class="theme-btn">Join now</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>