<div class="hero-section">
    <div class="hero-slider2 owl-carousel owl-theme">
        <div class="hero-single" style="background-image: url(/images_icon/slider/mem1.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-7">
                        <div class="hero-content">
                            <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".25s">
                                Welcome To Coffee House!
                            </h6>
                            <h1 class="hero-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".50s">
                                Discover Amazing Coffee House & Get Energy
                            </h1>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".75s">
                                There are many variations of passages available but the majority have suffered
                                alteration in some form by injected humour or randomised words.
                            </p>
                            <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="menu.html" class="theme-btn">Check Menu</a>
                                <a href="#" class="theme-border-btn">Book Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-single" style="background-image: url(/images_icon/slider/mem2.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-7">
                        <div class="hero-content">
                            <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".25s">
                                Welcome To Coffee House!
                            </h6>
                            <h1 class="hero-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".50s">
                                Discover Amazing Coffee House & Get Energy
                            </h1>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".75s">
                                There are many variations of passages available but the majority have suffered
                                alteration in some form by injected humour or randomised words.
                            </p>
                            <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="menu.html" class="theme-btn">Check Menu</a>
                                <a href="#" class="theme-border-btn">Book Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-single" style="background-image: url(/images_icon/slider/mem3.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-7">
                        <div class="hero-content">
                            <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".25s">
                                Welcome To Coffee House!
                            </h6>
                            <h1 class="hero-title wow animate__animated animate__fadeInUp"
                                data-wow-duration="1s" data-wow-delay=".50s">
                                Discover Amazing Coffee House & Get Energy
                            </h1>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".75s">
                                There are many variations of passages available but the majority have suffered
                                alteration in some form by injected humour or randomised words.
                            </p>
                            <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="menu.html" class="theme-btn">Check Menu</a>
                                <a href="#" class="theme-border-btn">Book Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/images_icon/about_us/mem1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right">
                    <div class="text-heading mb-3">
                        <span class="text-title-tagline">About Us</span>
                        <h2 class="text-title">
                            Fresh Quality And Organic Tasty Coffee House For You
                        </h2>
                    </div>
                    <p class="about-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words which don't
                        look even slightly believable.
                    </p>
                    <div class="about-list-wrapper">
                        <ul class="about-list margin-btm">
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                At vero eos et accusamus et iusto odio
                            </li>
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                Established fact that a reader will be distracted
                            </li>
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                Sed ut perspiciatis unde omnis iste natus sit
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="theme-btn mt-4">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-heading text-center">
                    <span class="text-title-tagline">Features</span>
                    <h2 class="text-title ">Our Best Features</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="features-item">
                    <div class="features-shape">
                        <img src="~/images_icon/features/shape-3.png" alt="">
                    </div>
                    <div class="features-icon">
                        <img src="~/images_icon/features/free-delivery.svg" alt="">
                    </div>
                    <div class="features-content">
                        <h4>Free Shipping</h4>
                        <p>
                            It is a long established fact that a reader will be by the readable
                            content of a page looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item">
                    <div class="features-shape">
                        <img src="~/images_icon/features/shape-3.png" alt="">
                    </div>
                    <div class="features-icon">
                        <img src="~/images_icon/features/certified.svg" alt="">
                    </div>
                    <div class="features-content">
                        <h4>Organic Certified</h4>
                        <p>
                            It is a long established fact that a reader will be by the readable
                            content of a page looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item">
                    <div class="features-shape">
                        <img src="~/images_icon/features/shape-3.png" alt="">
                    </div>
                    <div class="features-icon">
                        <img src="~/images_icon/features/coffee-beans.svg" alt="">
                    </div>
                    <div class="features-content">
                        <h4>High Quality</h4>
                        <p>
                            It is a long established fact that a reader will be by the readable
                            content of a page looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item">
                    <div class="features-shape">
                        <img src="~/images_icon/features/shape-3.png" alt="">
                    </div>
                    <div class="features-icon">
                        <img src="~/images_icon/features/coffee.svg" alt="">
                    </div>
                    <div class="features-content">
                        <h4>Free Shipping</h4>
                        <p>
                            It is a long established fact that a reader will be by the readable
                            content of a page looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="menu py-120" style="background-image: url(/images_icon/menu/background/bg.jpeg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-heading text-center">
                    <span class="text-title-tagline">Our Menu</span>
                    <h2 class="text-title">Let's Check Our Menu</h2>
                </div>
            </div>
        </div>
        <div class="menu-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn1.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Espresso</h5>
                                <p class="margin-btm pcolor">Mixed by giving water under high pressure</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn2.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Latte Macchiato</h5>
                                <p class="margin-btm pcolor">Latte is like milk coffee but sweeter</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn3.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cappuccino</h5>
                                <p class="margin-btm pcolor">
                                    Origin from Italy, standard will consist of 3 parts
                                </p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn4.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cafe Latte</h5>
                                <p class="margin-btm pcolor">Cafe Latte simply understands coffee and milk</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn5.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cafe Mocha</h5>
                                <p class="margin-btm pcolor">Americano is diluted with the amount of water</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn6.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Americano</h5>
                                <p class="margin-btm pcolor">
                                    Similar to espresso, served with fresh milk cream
                                </p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn7.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Espresso Con Panna</h5>
                                <p class="margin-btm pcolor">An espresso contained in Cappuccino</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-item">
                        <div class="menu-item-content">
                            <div class="menu-img">
                                <img src="~/images_icon/menu/list_menu/mn8.jpg" alt="">
                            </div>
                            <div class="menu-info">
                                <h5>Cappuccino Viennese</h5>
                                <p class="margin-btm pcolor">Fresh milk with vanilla flavored</p>
                            </div>
                        </div>
                        <div class="menu-price">$50.25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="choose py-120">
    <div class="choose-shape-1"><img src="~/images_icon/whychoose/list_shape/ls1.png" alt=""></div>
    <div class="choose-shape-2"><img src="~/images_icon/whychoose/list_shape/ls2.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="text-heading">
                        <span class="text-title-tagline">Why Choose Us</span>
                        <h2 class="text-title mb-10">
                            Coffero Most Out Of Your Favorite & Tasty Coffee House
                        </h2>
                        <p class="pcolor">
                            There are many variations of passages of orem psum available but the majority have
                            suffered alteration in some form by injected humour or randomised words which don't
                            look even slightly believable.
                        </p>
                    </div>
                    <div class="choose-content-wrapper">
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-1.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Awesome Aroma</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-2.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Pure Grades</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-3.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Healthy Coffee</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img">
                    <div class="video-wrapper">
                        <img src="~/images_icon/whychoose/img/chooseimg.jpg" alt="">
                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=_111P1SRvPc">
                            <i class="icofont-ui-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="shop py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="text-heading text-center">
                    <span class="text-title-tagline">Our Shop</span>
                    <h2 class="text-title">Our All Delicious Products</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <span class="shop-sale">Sale</span>
                        <img src="~/images_icon/shop/01.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Los Planes</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/02.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Saint Helena</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/03.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Kona Peaberry</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/04.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Blue Mountain</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/05.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Ospina</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/06.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="shop-single.html">
                            <h4 class="shop-item-content">Kopi Luwak</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <span class="shop-sale">Sale</span>
                        <img src="~/images_icon/shop/07.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="/CoffeeHouse/Shop_Single">
                            <h4 class="shop-item-content">Cappucino Coffee</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="shop-item">
                    <div class="shop-item-img">
                        <img src="~/images_icon/shop/08.png" alt="">
                        <div class="shop-item-icon">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="/CoffeeHouse/Shop_Single"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    <div class="shop-item-info">
                        <div class="shop-star">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <a href="/CoffeeHouse/Shop_Single">
                            <h4 class="shop-item-content">Black Ivory</h4>
                        </a>
                        <div class="shop-item-price"><del>$100</del>$60</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/branch.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="300" data-count-to="1500"
                              data-count-speed="100"></span>
                        <h6 class="title">+ Total Branches</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/customer.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="250"
                              data-count-speed="20"></span>
                        <h6 class="title">+ Happy Customers</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/chef.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="120"
                              data-count-speed="10"></span>
                        <h6 class="title">+ Professional Chefs</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/experience.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="50"
                              data-count-speed="30"></span>
                        <h6 class="title">+ Years Of Experience</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="gallery py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-heading text-center">
                    <span class="text-title-tagline">Gallery</span>
                    <h2 class="text-title">Our Photo Gallery</h2>
                </div>
            </div>
        </div>
        <div class="gallery-slider owl-carousel owl-theme popup-gallery">
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/01.jpg" alt="">
                    <a href="~/images_icon/photo/01.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Espresso</a></h4>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/02.jpg" alt="">
                    <a href="~/images_icon/photo/02.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Latte Macchiato</a></h4>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/03.jpg" alt="">
                    <a href="~/images_icon/photo/03.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Coffee Latte</a></h4>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/04.jpg" alt="">
                    <a href="~/images_icon/photo/04.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Coffee Mocha</a></h4>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/05.jpg" alt="">
                    <a href="~/images_icon/photo/05.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Americano</a></h4>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img class="img-fluid" src="~/images_icon/photo/06.jpg" alt="">
                    <a href="~/images_icon/photo/06.jpg" class="popup-img gallery-link">
                        <i class="far fa-plus"></i>
                    </a>
                </div>
                <div class="gallery-content">
                    <h4><a href="#">Espresso Con Panna</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offer py-120" style="background-image: url(~/images_icon/offer/bgoffer.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-heading text-center">
                    <div class="text-title-tagline">Offer</div>
                    <h2 class="text-title">Special Offer For You</h2>
                </div>
            </div>
        </div>
        <div class="offer-slider owl-carousel owl-theme">
            <div class="offer-wrapperr">
                <div class="row g-0 align-items-center">
                    <div class="col-md-7">
                        <div class="offer-img">
                            <img src="~/images_icon/offer/of1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="offer-content">
                            <h3>Cafe Latte</h3>
                            <h5>Get 40% Offer</h5>
                            <p>
                                The images that appear in the usual latte are hearts, roseta, pictures.
                                Latte Art is a very interesting topic. You can step into Starbucks to experience
                                this type of coffee.
                            </p>
                            <a href="#" class="theme-btn">Oder Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-wrapperr">
                <div class="row g-0 align-items-center">
                    <div class="col-md-7">
                        <div class="offer-img">
                            <img src="~/images_icon/offer/of2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="offer-content">
                            <h3>Cappuccino Arabica</h3>
                            <h5>Get 40% Offer</h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its normal distribution layout.
                            </p>
                            <a href="#" class="theme-btn">Oder Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-wrapperr">
                <div class="row g-0 align-items-center">
                    <div class="col-md-7">
                        <div class="offer-img">
                            <img src="~/images_icon/offer/of3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="offer-content">
                            <h3>Americano Coffe</h3>
                            <h5>Get 30% Offer</h5>
                            <p>
                                "Americano" is widely used and means combining hot water and espresso when
                                ordering items in the store,
                                but in a narrow sense, it only adds water to Espresso, while adding espresso
                                Water is called a Long Black.
                            </p>
                            <a href="#" class="theme-btn">Oder Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reservation ">
    <div class="container">
        <div class="reservation-wrapper">
            <div class="reservation-shape-1">
                <img src="~/images_icon/reservation/rvshape1.png" alt="">
            </div>
            <div class="reservation-shape-2">
                <img src="~/images_icon/reservation/rvshape2.png" alt="">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="reservation-content">
                        <div class="reservation-header">
                            <div class="text-title-tagline">Reservation</div>
                            <h2 class="text-title text-white">Book A Table</h2>
                        </div>
                        <form action="">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control"
                                               placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control"
                                               placeholder=" Address">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control"
                                               placeholder="Your Phone">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="date" class="form-control"
                                               placeholder="Date Ex: DD/MM/YY">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="time" class="form-control"
                                               placeholder="Time Ex: 01:25PM">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" name="person" class="form-control"
                                               placeholder="Number Of People">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" placeholder="Your Message"
                                          rows="4"></textarea>
                            </div>
                            <button class="theme-btn"><i class="far fa-bookmark"></i> Book A Table</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partner pt-70 pb-70">
    <div class="container">
        <div class="partner-wrapper partner-slider owl-carousel owl-theme">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
        </div>
    </div>
</div>