@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcumb" style="background: url(/images_icon/about_us/breadcumb.jpg);">
    <h2 class="breadcumb-title">About Us</h2>
</div>

<div class="about-us py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/images_icon/about_us/mem1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right">
                    <div class="text-heading mb-3">
                        <span class="text-title-tagline">About Us</span>
                        <h2 class="text-title">
                            Fresh Quality And Organic Tasty Coffee House For You
                        </h2>
                    </div>
                    <p class="about-text">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words which don't
                        look even slightly believable.
                    </p>
                    <div class="about-list-wrapper">
                        <ul class="about-list margin-btm">
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                At vero eos et accusamus et iusto odio
                            </li>
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                Established fact that a reader will be distracted
                            </li>
                            <li>
                                <i class="faicon icofont-check-alt"></i>
                                Sed ut perspiciatis unde omnis iste natus sit
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="theme-btn mt-4">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/branch.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="300" data-count-to="1500"
                              data-count-speed="100"></span>
                        <h6 class="title">+ Total Branches</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/customer.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="250"
                              data-count-speed="30"></span>
                        <h6 class="title">+ Happy Customers</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/chef.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="120"
                              data-count-speed="30"></span>
                        <h6 class="title">+ Professional Chefs</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box">
                    <div class="icon">
                        <img src="~/images_icon/counter/experience.svg" alt="">
                    </div>
                    <div>
                        <span class="counter" data-count-from="0" data-count-to="50"
                              data-count-speed="10"></span>
                        <h6 class="title">+ Years Of Experience</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="choose py-120" style="padding-top: 10px;">
    <div class="choose-shape-1"><img src="~/images_icon/whychoose/list_shape/ls1.png" alt=""></div>
    <div class="choose-shape-2"><img src="~/images_icon/whychoose/list_shape/ls2.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="text-heading">
                        <span class="text-title-tagline">Why Choose Us</span>
                        <h2 class="text-title mb-10">
                            Coffero Most Out Of Your Favorite & Tasty Coffee House
                        </h2>
                        <p class="pcolor">
                            There are many variations of passages of orem psum available but the majority have
                            suffered alteration in some form by injected humour or randomised words which don't
                            look even slightly believable.
                        </p>
                    </div>
                    <div class="choose-content-wrapper">
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-1.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Awesome Aroma</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-2.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Pure Grades</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                        <div class="choose-item">
                            <div class="choose-item-icon">
                                <img src="~/images_icon/whychoose/list-icon/coffee-beans-3.svg" alt="">
                            </div>
                            <div class="choose-item-text">
                                <h3>Healthy Coffee</h3>
                                <p class="pcolor">
                                    There are many variations of passages of Lorem Ipsum available
                                    but the majority have suffered alteration in some injected.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img">
                    <div class="video-wrapper">
                        <img src="~/images_icon/whychoose/img/chooseimg.jpg" alt="">
                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=_111P1SRvPc">
                            <i class="icofont-ui-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partner pt-70 pb-70">
    <div class="container">
        <div class="partner-wrapper partner-slider owl-carousel owl-theme">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
            <img src="~/images_icon/partner/ptner.png" alt="thumb">
        </div>
    </div>
</div>

