
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog py-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg1.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Mr.Ecoffee</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://ecoworld.co/business-coffee-opened-the-first-coffee-shop-in-vietnam.html">
                                There are many variations of the passages available suffered
                            </a>
                        </h4>
                        <a class="blog-btn" href="https://ecoworld.co/business-coffee-opened-the-first-coffee-shop-in-vietnam.html">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg2.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://www.allrecipes.com/article/types-of-coffee/">
                                Bean to Cup: Different Types of Coffee, Roasts, and Drinks
                            </a>
                        </h4>
                        <a class="blog-btn" href="https://www.allrecipes.com/article/types-of-coffee/">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg3.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By EcoWorld</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://retail.economictimes.indiatimes.com/news/food-entertainment/food-services/international-coffee-day-2022-hows-the-coffee-market-brewing-for-tea-loving-india/94574753">
                                International coffee day 2022: How’s the coffee market brewing?
                        </h4>
                        <a class="blog-btn" href="https://retail.economictimes.indiatimes.com/news/food-entertainment/food-services/international-coffee-day-2022-hows-the-coffee-market-brewing-for-tea-loving-india/94574753">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg4.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Retails</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://www.theguardian.com/food/2022/sep/27/its-official-coffee-is-good-for-you-just-like-red-wine-dark-chocolate-beer">
                                It’s official! Coffee is good for you – just like red wine, dark chocolate…
                            </a>
                        </h4>
                        <a class="blog-btn" href="https://www.theguardian.com/food/2022/sep/27/its-official-coffee-is-good-for-you-just-like-red-wine-dark-chocolate-beer">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg5.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Bao Moi</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://www.medicalnewstoday.com/articles/322649">
                                Coffee and Cancer: A Medical Overview
                            </a>
                        </h4>
                        <a class="blog-btn" href="https://www.medicalnewstoday.com/articles/322649">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="/images_icon/blog/our_blog/blg6.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Kidney</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> May 15, 2022</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="https://brewminate.com/a-brief-history-of-coffee/">
                                A Brief History of Coffee - Brewminate: A Bold Blend of News
                            </a>
                        </h4>
                        <a class="blog-btn" href="https://brewminate.com/a-brief-history-of-coffee/">
                            Read More<i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-area">
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-sharp fa-solid fa-angles-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-sharp fa-solid fa-angles-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
