
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcumb" style="background: url(/images_icon/about_us/breadcumb.jpg);">
    <h2 class="breadcumb-title">Contact Us</h2>
</div>
<div class="contact py-120">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-content">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa-sharp fa-solid fa-location-dot"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Office Address</h5>
                                <p>1st Floor Keangnam - Nam Tu Liem - Ha Noi</p>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa-solid fa-phone-flip"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Call Us</h5>
                                <p>024 3205 1777</p>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Email Us</h5>
                                <p>
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                       data-cfemail="d7beb9b1b897b2afb6baa7bbb2f9b4b8ba">info@example.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <div class="contact-info-content">
                                <h5>Office Open</h5>
                                <p>Sun - Fri (08AM - 11PM)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 align-self-center">
                    <div class="contact-form">
                        <div class="contact-header">
                            <h2>Feel Free To Contact Us</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page randomised words which don't look even slightly when looking
                                at its layout.
                            </p>
                        </div>
                        <form action="" id="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name"
                                               placeholder="Your Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email"
                                               placeholder="Your Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" placeholder="Your Phone"
                                       required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" cols="30" rows="5"
                                          placeholder="Write Your Massage"></textarea>
                            </div>
                            <button type="submit" class="theme-btn">
                                <i class="fa-sharp fa-solid fa-paper-plane"></i>Send Message
                            </button>
                            <div class="col-md-12 mt-3">
                                <div class="form-messege text-success"></div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.362362987847!2d105.78199041502545!3d21.018182186004097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ab43c0c4db%3A0xdb6effebd6991106!2sKeangnam%20Landmark%20Tower!5e0!3m2!1svi!2s!4v1665634727985!5m2!1svi!2s"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>