
@{
    ViewData["Title"] = "Shop_Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-single py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="item-gallery mb-5">
                    <div class="flexslider-thumbnails">
                        <ul class="slides">
                            <li data-thumb="/images_icon/shop/01.png">
                                <img src="/images_icon/shop/01.png" alt="#">
                            </li>
                            <li data-thumb="/images_icon/shop/03.png">
                                <img src="/images_icon/shop/03.png" alt="#">
                            </li>
                            <li data-thumb="/images_icon/shop/07.png">
                                <img src="/images_icon/shop/07.png" alt="#">
                            </li>
                            <li data-thumb="/images_icon/shop/08.png">
                                <img src="/images_icon/shop/08.png" alt="#">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-info">
                    <h4 class="single-title">Arabica Green</h4>
                    <div class="single-star">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <span class="rating-count">(4 Customer Reviews)</span>
                    </div>
                    <div class="single-price">
                        <h4><del>$100</del><span>$60</span></h4>
                    </div>
                    <p class="mb-4">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words which don't
                        look even slightly believable.
                    </p>
                    <div class="single-action">
                        <h5 class="title">Quantity:</h5>
                        <div class="cart-quantity">
                            <button class="minus-btn"><i class="fa-sharp fa-solid fa-minus"></i></button>
                            <input class="quantity" type="text" value="1" disabled="">
                            <button class="plus-btn"><i class="fa-sharp fa-solid fa-plus"></i></button>
                        </div>
                        <div class="single-btn">
                            <button class="theme-btn">
                                <span class="fa-sharp fa-solid fa-cart-shopping"></span>
                                Add to cart
                            </button>
                            <a href="#" class="single-item-btn"><i class="far fa-heart"></i></a>
                            <a href="#" class="single-item-btn">
                                <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="single-content">
                        <h5>Category: <span>Arabica Green</span></h5>
                        <h5>Tags: <span>Coffee, Shop, Arabica</span></h5>
                    </div>
                    <hr>
                    <div class="single-share">
                        <span>Share:</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-details">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                            type="button" role="tab" aria-controls="tab1" aria-selected="true">
                        Description
                    </button>
                    <button class="nav-link" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#tab2"
                            type="button" role="tab" aria-controls="tab2" aria-selected="false">
                        Additional
                        Info
                    </button>
                    <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                            type="button" role="tab" aria-controls="tab3" aria-selected="false">
                        Reviews
                        (05)
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                    <div class="single-item-desc">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words which
                            don't look even slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                            chunks as necessary, making this the first true generator on the Internet.
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                    <div class="single-additional-info">
                        <p>
                            From humble beginnings, The Bearded Brewer has grown into the award winning roastery
                            that it is today.
                            Every bean we use, retail or wholesale, has been hand roasted, right here on the
                            South Coast, NSW.
                            We believe in sourcing beans from ethical and sustainable sources. Not only do we
                            want to source the highest
                            quality coffee but we also want to know that the farmers are paid a fair wage and
                            that farming practices are sustainable.
                        </p>
                        <p>
                            An amazing venue dedicated to great coffee and a comfortable atmosphere – The
                            Roastery & Espresso Bar is tucked away
                            in the industrial estate of South Nowra. Relax and enjoy a coffee, make use of the
                            kid’s play area or watch and learn
                            as we roast your favourite beans on site
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                    <div class="single-item-review">
                        <div class="blog-comments">
                            <h3>Reviews (05)</h3>
                            <div class="blog-comments-wrapper">
                                <div class="blog-comments-single">
                                    <img src="/images_icon/shop_single/review1.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>Quang Pham</h5>
                                        <span><i class="far fa-clock"></i> 10 October, 2022</span>
                                        <p>
                                            Coffee is a lot more than just a drink; it's something happening. Not
                                            as in hip, but like an event, a place to be, but not like a
                                            location, but like somewhere within yourself. It gives you time, but
                                            not actual hours or minutes, but a chance to be, like be yourself,
                                            and have a second cup.
                                        </p>
                                        <a href="#"><i class="fa-sharp fa-solid fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                                <div class="blog-comments-single">
                                    <img src="/images_icon/shop_single/review1.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>Thuy Duong</h5>
                                        <span><i class="far fa-clock"></i> 10 October, 2022</span>
                                        <p>
                                            The morning cup of coffee has an exhilaration about it which the
                                            cheering influence of the afternoon or evening cup of tea cannot be
                                            expected to reproduce.
                                        </p>
                                        <a href="#"><i class="fa-sharp fa-solid fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                                <div class="blog-comments-single">
                                    <img src="/images_icon/shop_single/review1.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>Gia Phu</h5>
                                        <span><i class="far fa-clock"></i> 10 October, 2022</span>
                                        <p>
                                            The coffee here is amazing. The taste is very special, creating a
                                            very elegant drink that makes me feel relaxed, everything is
                                            perfect.
                                        </p>
                                        <a href="#"><i class="fa-sharp fa-solid fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                                <div class="blog-comments-single">
                                    <img src="/images_icon/shop_single/review1.jpg" alt="thumb">
                                    <div class="blog-comments-content">
                                        <h5>Hoang Duong</h5>
                                        <span><i class="far fa-clock"></i> 10 October, 2022</span>
                                        <p>
                                            Juicy, sweet-tart, rich and deep. Black cherry, dark chocolate, sage,
                                            star jasmine, sandalwood in aroma and small cup. Creamy-smooth
                                            mouthfeel; long, lingering, chocolaty finish. Dark chocolate, black
                                            cherry and star jasmine take center stage in cappuccino-scaled milk.
                                        </p>
                                        <a href="#"><i class="fa-sharp fa-solid fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-comments-form">
                                <h3>Leave A Review</h3>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group review-rating">
                                                <label>Your Rating</label>
                                                <div>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Your Name*">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control"
                                                       placeholder="Your Email*">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5"
                                                          placeholder="Your Comment*"></textarea>
                                            </div>
                                            <button type="submit" class="theme-btn">
                                                <i class="far fa-paper-plane"></i> Submit Review
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-item">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="text-heading">
                            <h2 class="text-title">Related Items</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-img">
                                <img src="/images_icon/shop/01.png" alt="">
                                <div class="shop-item-icon">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                                </div>
                            </div>
                            <div class="shop-item-info">
                                <div class="shop-star">
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                </div>
                                <a href="#">
                                    <h4 class="shop-item-content">Los Planes</h4>
                                </a>
                                <div class="shop-item-price"><del>$100</del>60</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-img">
                                <span class="shop-sale">Sale</span>
                                <img src="/images_icon/shop/03.png" alt="">
                                <div class="shop-item-icon">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                                </div>
                            </div>
                            <div class="shop-item-info">
                                <div class="shop-star">
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                </div>
                                <a href="#">
                                    <h4 class="shop-item-content">Kona Peaberry</h4>
                                </a>
                                <div class="shop-item-price"><del>$100</del>60</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-img">
                                <img src="/images_icon/shop/07.png" alt="">
                                <div class="shop-item-icon">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                                </div>
                            </div>
                            <div class="shop-item-info">
                                <div class="shop-star">
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                </div>
                                <a href="#">
                                    <h4 class="shop-item-content">Cappucino Coffee</h4>
                                </a>
                                <div class="shop-item-price"><del>$100</del>60</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="shop-item">
                            <div class="shop-item-img">
                                <img src="/images_icon/shop/08.png" alt="">
                                <div class="shop-item-icon">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                                </div>
                            </div>
                            <div class="shop-item-info">
                                <div class="shop-star">
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <i class="icofont-star"></i>
                                </div>
                                <a href="#">
                                    <h4 class="shop-item-content">Black Ivory</h4>
                                </a>
                                <div class="shop-item-price"><del>$100</del>60</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
